<div class="card" style="width: 18rem;">
    <img src="assets/account.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">Personal details</h3>
      <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span>Full Name : </span>{{user.fullName}}</li>
      <li class="list-group-item"><span>User Name : </span>{{user.userName}}</li>
      <li class="list-group-item"><span>Email : </span>{{user.email}}</li>
      <li class="list-group-item"><span>Phone number : </span>{{user.phoneNumber}}</li>
      <li class="list-group-item"><span>NID : </span>{{user.nid}}</li>
      <li class="list-group-item"><span>Gender : </span>{{user.gender}}</li>
    </ul>
    <!-- <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div> -->
  </div>