<footer>
    <p>DMS</p>
    <ul class="foot">
      <li><a href="">HOME</a></li>
      <li><a href="">AGENT</a></li>
      <li><a href="">ABOUT</a></li>
      <li><a href="">LISTING</a></li>
      <li><a href="">BLOG</a></li>
      <li><a href="">CONTACT</a></li>
      
    </ul>
    <div class="foot">
      <div class="styleicons"><i class="fa-brands fa-facebook"></i></div>
      <div class="styleicons"><i class="fa-brands fa-twitter"></i></div>
      <div class="styleicons"><i class="fa-brands fa-instagram"></i></div>
    </div>

    <div class="foot cobyright">
      copyright&nbsp;<span class="cobyright" ><i class="fa-regular fa-copyright"></i></span>&nbsp;2024 all rights reserved | This template is made with&nbsp;<span class="cobyright"><i class="fa-solid fa-heart"></i></span>&nbsp;by DMS.com
    </div>


  </footer>
